<div id="section-header" class="section">

    <div data-section-id="header" data-section-type="header-section">
      
      <div class="announcement-bar">
        <p class="announcement-bar__message">{{locationName}}</p>
      </div>

      <header class="site-header logo--center" role="banner">
        <div class="grid grid--no-gutters grid--table">
          <div class="grid__item small--one-half medium--one-third large-up--one-quarter logo-align--center">
            <h1 class="h2 site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
              <a href="/" itemprop="url" class="site-header__logo-image site-header__logo-image--centered">
                <img
                  src="//cdn.shopify.com/s/files/1/0019/1918/9050/files/hammer_and_stain_header_325x_2x_ed6778ea-c938-4e84-b940-859e6dc5bd00_500x.jpg?v=1526236019"
                  srcset="//cdn.shopify.com/s/files/1/0019/1918/9050/files/hammer_and_stain_header_325x_2x_ed6778ea-c938-4e84-b940-859e6dc5bd00_500x.jpg?v=1526236019 1x, //cdn.shopify.com/s/files/1/0019/1918/9050/files/hammer_and_stain_header_325x_2x_ed6778ea-c938-4e84-b940-859e6dc5bd00_500x@2x.jpg?v=1526236019 2x"
                  alt="Hammer &amp; Stain Pottstown " itemprop="logo">
              </a>
            </h1>
          </div>
        </div>
      </header>


      <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
        <ul class="site-nav list--inline site-nav--centered" id="SiteNav">
          <li class="site-nav--active">
            <a href="/" class="site-nav__link site-nav__link--main">Home</a>
          </li>

          <li>
            <a href="/projects" class="site-nav__link site-nav__link--main">Projects</a>
          </li>

          <li>
            <a href="/materials" class="site-nav__link site-nav__link--main">Materials</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>